<h1>Welcome</h1>
<p>Welcome to StoryBooks 1.0.0</p>
<p>Post stories from the best and worst of our life and chose for them to be read bt the world or completely private as
    your own personal diary</p>

{{#if user}}
{{else}}
<a href="/auth/google" class="btn red darken-1"><i class="fa fa-google left"></i> Login with Google</a>
{{/if}}